@charset "UTF-8";

.card-sh {
	box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.3);
}

.cat-div{
	box-shadow: 0 0 10px rgba(0, 0, 0, .1);
}

.error{
	color: red;
}

.custom-text {
  font-size: 1.2rem; /* Slightly larger text */
  font-weight: bold; /* Makes the text bold */
  color: #333; /* Slightly softer dark color */
  text-transform: capitalize; /* Capitalizes the first letter of each word */
  letter-spacing: 1px; /* Adds spacing between letters */
  margin: 10px 0; /* Adds spacing around the text */
  text-align: center; /* Centers the text */
  transition: color 0.3s ease; /* Smooth color change on hover */
}